<section id="pageloader">
	<div class="loader-item fa fa-spin"></div>
</section>
<div class="container-full" style="padding: 10px 10px 10px 10px;" ng-controller = "AllHousesCtrl" ng-init = "startingFuncs()">
	<form role="form">
		
	    <div>
		
			<h1 align="center">
		        <span class="label label-info">All Houses</span>
		   	</h1>
		
			<div align="right" style="padding-bottom: 20px;">
				<input type="button" class="btn btn-sm btn-default" value="Refresh" ng-click="getHouses()">
			</div>
			<table class="table table-hover" width="100%" style="font-size: small">
		        <thead>
		          <tr>
		            <th style="text-align: center">#</th>
		            <th style="text-align: center">House</th>
		            <th style="text-align: center">Alias</th>
		            <th style="text-align: center">Owner</th>          
		            <th style="text-align: center">Mobile No</th>
		            <th style="text-align: center">Reset</th>
		          </tr>
		        </thead>
		        <tbody>
		        	<tr ng-repeat="house in allHouses">
		        		<td align="center" style="vertical-align: middle">{{house.No}}</td>
		        		<td align="center" style="vertical-align: middle">{{house.hrs_nm}}</td>
		        		<td align="center" style="vertical-align: middle">{{house.hrs_alias_cd}}</td>
		        		<td align="center" style="vertical-align: middle">{{house.emp_nm}}</td>
		        		<td align="center" style="vertical-align: middle">{{house.mob_no}}</td>
		        		<td align="center" style="vertical-align: middle">
			        		<button class="btn btn-info btn-sm"	ng-click="resetValue(house.hrs_cd)" ng-disabled="house.usr_flag=='N'">Reset</button>
		        		</td>
		        	</tr>
		        </tbody>
		    </table>
	</form>
</div>
<script type="text/javascript">
      //<![CDATA[
	      $(window).load(function() { // makes sure the whole site is loaded
	         $('.loader-item').fadeOut(); // will first fade out the loading animation
	         $('#pageloader').delay(350).fadeOut('slow'); // will fade ou the white DIV that covers the website.
	         $('body').delay(350).css({'overflow-y':'visible'});
	      })
      //]]>
</script>